# MLDS - Projet Exploration Visuelle des Données

---
<b>Authors :</b> 
<li>FHIYIL SOUFIANE</li>
<li>MOUHDA MOHAMMED REDA</li>
<li>JAMAL AOURRAZ</li>

## Préparation des Données

In [25]:
import urllib3
import numpy as np
import pandas as pd
from io import StringIO

In [31]:
urllib3.disable_warnings()

In [32]:
gordon=urllib3.PoolManager().request('GET',
               'https://raw.githubusercontent.com/jamalarz/Projet_Visualisation/master/gordon-2002_database.txt')
pomeroy=urllib3.PoolManager().request('GET',
            'https://raw.githubusercontent.com/jamalarz/Projet_Visualisation/master/pomeroy-2002-v2_database.txt')

In [33]:
gordonDf=pd.read_csv(StringIO(str(gordon.data,'utf-8')),delimiter='\t')
pomeroyDf=pd.read_csv(StringIO(str(pomeroy.data,'utf-8')),delimiter='\t')

In [35]:
gordonDf.head(5)

,Unnamed: 0,meso42,meso51,meso2,meso82,meso212,meso74,meso67,meso57,meso167,...,CL2001032149AA,CL2001032301AA,CL2001032307AA,CL2001032040AA,CL2001032842AA,CL2001032259AA,CL2001031611AA,CL2001032155AA,CL2001032039AA,CL2001031612AA
0,NaN,MPM,MPM,MPM,MPM,MPM,MPM,MPM,MPM,MPM,...,AD,AD,AD,AD,AD,AD,AD,AD,AD,AD
1,1006_at,10,71,11.3,24.6,22.8,10,19.3,20.7,17.7,...,21.8,73.7,42.7,32.5,53.7,24.3,37.2,17.5,47.8,47.1
2,1014_at,82,133.9,60.7,85.1,49.9,108.2,74.2,38.4,75.1,...,36.3,10,51.7,34.9,21.9,46.3,10,54.2,10,61.2
3,1042_at,1481.1,82.6,796.8,13.5,561.8,1209.3,1102.5,1895.5,1095.8,...,52.8,122.3,35,294.6,14.3,25.1,155.4,68.7,10,45.7
4,1047_s_at,220.3,74.5,298.3,26.6,85.9,40.3,196.8,228,112.7,...,171.8,10,88.1,43,10,141,87.5,28,29.8,42.8

In [36]:
pomeroyDf.head(5)

,Unnamed: 0,Brain_MD_12,Brain_MD_61,Brain_MD_15,Brain_MD_57,Brain_MD_33,Brain_MD_64,Brain_MD_17,Brain_MD_62,Brain_MD_63,...,Brain_Ncer_3,Brain_Ncer_4,Brain_PNET_1,Brain_PNET_2,Brain_PNET_3,Brain_PNET_4,Brain_PNET_5,Brain_PNET_6,Brain_PNET_7,Brain_PNET_8
0,NaN,MD,MD,MD,MD,MD,MD,MD,MD,MD,...,Ncer,Ncer,PNET,PNET,PNET,PNET,PNET,PNET,PNET,PNET
1,AFFX-BioB-3_at,10,10,163,60,10,10,97,10,87,...,10,226,291,10,827,51,14,14,157,10
2,AFFX-CreX-3_at,10,238,10,10,10,10,76,131,10,...,10,105,300,349,471,10,10,10,256,271
3,AFFX-BioB-5_st,377,141,66,55,10,195,10,379,10,...,288,121,10,128,10,35,336,10,10,241
4,AFFX-BioB-M_st,10,10,10,10,10,10,10,10,129,...,10,10,273,10,163,92,10,94,589,131